html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  background-color: #1D224D;
}

.main {
  box-sizing: border-box;
  padding: 1.9rem 7.5rem 0rem 7.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(302.54deg, #1d224d 99.96%, #00031a 149.54%, #060c47 200.86%);
  background-color: #ffffff;

}

.main .header {
  margin: 0rem 0.256rem 1.609rem 0rem;
  width: calc(100% - 0.2564rem);
  height: 5.6908rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.main .header .hero {
  margin-right: 79.7rem;
  width: 30.4rem;
  height: 5.2rem;
  position: relative;
  flex-shrink: 0;
}

.main .header .hero .picosat4bangladesh-FLB {
  width: 29.4rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.1740000176;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

.main .header .hero .picosat4bangladesh-FLB .picosat4bangladesh-FLB-sub-0 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}

.main .header .hero .picosat4bangladesh-FLB .picosat4bangladesh-FLB-sub-1 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}

.main .header .hero .picosat4bangladesh-FLB .picosat4bangladesh-FLB-sub-2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}

.main .header .hero .title {
  width: 30.4rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 5.5rem;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2125;
  letter-spacing: 0.275rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.main .header .logo-section {
  margin-top: 0.0092rem;
  height: calc(100% - 0.0092rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;

  margin-left: 700px;
}

.main .header .logo-section .logo {
  box-sizing: border-box;
  padding: 0.35rem 1.486rem 0.35rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.main .header .logo-section .logo .rectangle-3-YEj {
  margin-right: 1.5734rem;
  width: 4.9824rem;
  height: 4.9824rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.main .header .logo-section .logo .rectangle-4-Fuq {
  width: 4.9824rem;
  height: 4.9824rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.main .header .logo-section .rectangle-5-zsR {
  width: 5.4194rem;
  height: 5.6817rem;
  position: relative;
  background-size: 92.857% 93.295%;
  background-position: 0 0.1905rem;
  background-image: url('../assets/rectangle-5-hk3.png');
  flex-shrink: 0;
}

.main .container {
  box-sizing: border-box;
  padding: 3.115rem 2.6rem 3.4rem 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0b1830;
  border-radius: 1.5rem;
  flex-shrink: 0;
  top: 5rem;
}

.main .container .container-head {
  margin: 0rem 0.1rem 2.552rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: 0.624rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content {
  margin-bottom: 1.3577rem;
  width: 100%;
  height: 27.5539rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 1150px;
}

.main .container .content .content-body {
  margin-right: 1.7rem;
  margin-left: 8rem;
  box-sizing: border-box;
  padding: 1.438rem 2rem 0.128rem 1.9rem;
  width: 70.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #15378c;
  background-color: #000000;
  border-radius: 1.5rem;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.main .container .content .content-body .sensor-data-head {
  margin: 0rem 0rem 0.795rem 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .content-body .auto-group-tlat-UZd {
  width: 100%;
  height: 23.1934rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body {
  margin-right: 1.2rem;
  width: 32.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-73-aMm {
  width: 32.6rem;
  height: 11.7725rem;
  position: absolute;
  left: 0;
  top: 0;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-73-aMm .rectangle-33-XH1 {
  width: 32.6rem;
  height: 10.4625rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000e28;
  border-radius: 0.6rem;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-73-aMm .c-Fio {
  width: 22rem;
  height: 7.6rem;
  position: absolute;
  left: 1.6rem;
  top: 4.1725rem;
  font-size: 6.4rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-73-aMm .ambient-temperature-ZUb {
  width: 14.6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 1.0999rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-75-fGj {
  width: 32.6rem;
  height: 11.7725rem;
  position: absolute;
  left: 0;
  top: 11.4209rem;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-75-fGj .rectangle-33-CXZ {
  width: 32.6rem;
  height: 10.4625rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000e28;
  border-radius: 0.6rem;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-75-fGj .c-YLX {
  width: 27rem;
  height: 7.6rem;
  position: absolute;
  left: 1.6rem;
  top: 4.1725rem;
  font-size: 6.4rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-75-fGj .c-YLX .c-YLX-sub-0 {}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-75-fGj .c-YLX .c-YLX-sub-1 {
  font-size: 4.8rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}

.main .container .content .content-body .auto-group-tlat-UZd .sensor-data-body .group-75-fGj .ambient-temperature-LXH {
  width: 5.9rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 1.0999rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 {
  width: 32.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 .group-74-PkT {
  width: 32.6rem;
  height: 11.7725rem;
  position: absolute;
  left: 0;
  top: 0;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 .group-74-PkT .rectangle-33-Y7Z {
  width: 32.6rem;
  height: 10.4625rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000e28;
  border-radius: 0.6rem;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 .group-74-PkT .c-tBR {
  width: 20.2rem;
  height: 7.6rem;
  position: absolute;
  left: 1.6rem;
  top: 4.1725rem;
  font-size: 6.4rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 .group-74-PkT .ambient-temperature-TNw {
  width: 6rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 1.0999rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 .group-76-MjD {
  width: 32.6rem;
  height: 11.7725rem;
  position: absolute;
  left: 0;
  top: 11.4209rem;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 .group-76-MjD .rectangle-33-J8f {
  width: 32.6rem;
  height: 10.4625rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000e28;
  border-radius: 0.6rem;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 .group-76-MjD .m-quH {
  width: 16.3rem;
  height: 7.6rem;
  position: absolute;
  left: 1.6rem;
  top: 4.1725rem;
  font-size: 6.4rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}

.main .container .content .content-body .auto-group-tlat-UZd .auto-group-9q4x-eH5 .group-76-MjD .ambient-temperature-xj1 {
  width: 5.3rem;
  height: 1.7rem;
  position: absolute;
  left: 1.6rem;
  top: 1.0999rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}


/*Change */
.main .container .content .group-73-2D5 {
  box-sizing: border-box;
  padding: 1.438rem 1.833rem 1.438rem 1.833rem;
  width: 70.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 1.5rem;
  flex-shrink: 0;
  margin-bottom: 20px;
  margin-left: 8rem;
  border: solid 0.2rem #15378c;
}

.main .container .content .group-73-2D5 .battery-health-waw {
  margin: 0rem 0rem 0.795rem 0.094rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd {
  margin-bottom: 0.9584rem;
  width: 100%;
  height: 10.4625rem;
  display: flex;
  column-gap: 1.2538rem;
  align-items: center;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-77-z3R {
  box-sizing: border-box;
  padding: 1.097rem 1.647rem 0.173rem 1.096rem;
  width: 23.1424rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-77-z3R .battery-temperature-1-K5h {
  margin-bottom: 1.4933rem;
  width: 18.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-77-z3R .c-R8j {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-78-jv7 {
  box-sizing: border-box;
  padding: 1.097rem 1.647rem 0.173rem 1.096rem;
  width: 19.1424rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-78-jv7 .battery-temperature-1-GQF {
  margin-bottom: 1.4933rem;
  width: 18.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
  margin-left: 2rem;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-78-jv7 .c-aA3 {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-79-ccX {
  box-sizing: border-box;
  padding: 1.097rem 1.647rem 0.173rem 1.096rem;
  width: 21.1424rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-79-ccX .battery-temperature-1-8as {
  margin-bottom: 1.4933rem;
  width: 18.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
  ;
}

.main .container .content .group-73-2D5 .auto-group-blvu-Fbd .group-79-ccX .c-qkB {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-3yrs-m83 {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  height: 10.4625rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-3yrs-m83 .group-80-JNs {
  margin-right: 1.2538rem;
  box-sizing: border-box;
  padding: 1.097rem 1.061rem 0.173rem 1.061rem;
  width: 32.6rem;
  height: 100%;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-3yrs-m83 .group-80-JNs .battery-temperature-4-2Js {
  margin-bottom: 1.4933rem;
  max-width: 9.9rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
}

.main .container .content .group-73-2D5 .auto-group-3yrs-m83 .group-80-JNs .c-Yo1 {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}

.main .container .content .group-73-2D5 .auto-group-3yrs-m83 .group-81-HVh {
  box-sizing: border-box;
  padding: 1.097rem 1.061rem 0.173rem 1.061rem;
  width: 32rem;
  height: 100%;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .group-73-2D5 .auto-group-3yrs-m83 .group-81-HVh .board-temperature-DPM {
  margin-bottom: 1.4933rem;
  max-width: 8.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
}

.main .container .content .group-73-2D5 .auto-group-3yrs-m83 .group-81-HVh .c-7Uj {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}



/* gyro sensor */
.main .container .content .gyrosensor {
  box-sizing: border-box;
  padding: 1.438rem 1.833rem 1.438rem 1.833rem;
  width: 70.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 1.5rem;
  flex-shrink: 0;
  margin-bottom: 20px;
  margin-left: 8rem;
  border: solid 0.2rem #15378c;
}

.main .container .content .gyrosensor .battery-health-waw {
  margin: 0rem 0rem 0.795rem 0.094rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd {
  margin-bottom: 0.9584rem;
  width: 100%;
  height: 10.4625rem;
  display: flex;
  column-gap: 1.2538rem;
  align-items: center;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-77-z3R {
  box-sizing: border-box;
  padding: 1.097rem 1.647rem 0.173rem 1.096rem;
  width: 23.1424rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-77-z3R .battery-temperature-1-K5h {
  margin-bottom: 1.4933rem;
  width: 18.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-77-z3R .c-R8j {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-78-jv7 {
  box-sizing: border-box;
  padding: 1.097rem 1.647rem 0.173rem 1.096rem;
  width: 19.1424rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-78-jv7 .battery-temperature-1-GQF {
  margin-bottom: 1.4933rem;
  width: 18.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
  margin-left: 2rem;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-78-jv7 .c-aA3 {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-79-ccX {
  box-sizing: border-box;
  padding: 1.097rem 1.647rem 0.173rem 1.096rem;
  width: 21.1424rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-79-ccX .battery-temperature-1-8as {
  margin-bottom: 1.4933rem;
  width: 18.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
  ;
}

.main .container .content .gyrosensor .auto-group-blvu-Fbd .group-79-ccX .c-qkB {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-3yrs-m83 {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  height: 10.4625rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-3yrs-m83 .group-80-JNs {
  margin-right: 1.2538rem;
  box-sizing: border-box;
  padding: 1.097rem 1.061rem 0.173rem 1.061rem;
  width: 32.6rem;
  height: 100%;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-3yrs-m83 .group-80-JNs .battery-temperature-4-2Js {
  margin-bottom: 1.4933rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
}

.main .container .content .gyrosensor .auto-group-3yrs-m83 .group-80-JNs .c-Yo1 {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}

.main .container .content .gyrosensor .auto-group-3yrs-m83 .group-81-HVh {
  box-sizing: border-box;
  padding: 1.097rem 1.061rem 0.173rem 1.061rem;
  width: 32rem;
  height: 100%;
  background-color: #000e28;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.main .container .content .gyrosensor .auto-group-3yrs-m83 .group-81-HVh .board-temperature-DPM {
  margin-bottom: 1.4933rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #72b3ff;
  font-family: Inter, 'Source Sans Pro';
}

.main .container .content .gyrosensor .auto-group-3yrs-m83 .group-81-HVh .c-7Uj {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}



.main .container .auto-group-qbcs-cgP {
  width: 100%;
  height: 41.8211rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 20px;
  margin-left: 8rem;

}



.main .container .auto-group-qbcs-cgP .camera-section {
  margin-bottom: 0.0343rem;
  box-sizing: border-box;
  width: 70.3rem;
  height: calc(100% - 0.0343rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 1.5rem;
  flex-shrink: 0;
  border: solid 0.2rem #15378c;
}

.main .container .auto-group-qbcs-cgP .camera-section .camera-section-title {
  margin: 0.2rem 0rem 0.1rem 0.094rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}